/* Start General Styles */
:root {
    --light-clr: #E7F0F6;
    --primary-light: #4A6572;
    --primary-medium: #344955;
    --primary-dark: #232F34;
    --secondary-light: #598dc2;
    --secondary-dark: #44719e;
}
*,
*::before, 
*::after {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}
header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    box-shadow: 0 .2px 4px 0 var(--secondary-dark);
}
header .logo {
    width: 80px;
    height: 80px;
    cursor: pointer;
}
header .logo img {
    width: 100%;
    height: 100%;
}
header nav ul {
    display: flex;
    gap: 30px;
}
header nav ul li {
    position: relative;
    cursor: pointer;
}
header nav ul li:hover {
    color: var(--secondary-light);
}
header nav ul li::after {
    content: '';
    background-color: var(--secondary-light);
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: width .3s;
    -webkit-transition: width .3s;
    -moz-transition: width .3s;
    -ms-transition: width .3s;
    -o-transition: width .3s;
}
header nav ul li:hover::after {        
    width: 100%;
}
@media(max-width: 767px) {
    header {
        flex-direction: column;
    }
    header > * {
        align-self: flex-start;
    }
    header ul{
        flex-direction: column;
        margin-left: 20px;
    }
    header ul {
        padding-bottom: 20px;
    }
}
/* header is done............... */
main {
    background-image: url(../imgs/main-photo.jpg);
    background-position: top center;
    background-size: cover;
    height: calc(100vh - 80px);
    position: relative;
    color: white;
    z-index: -1;
    display: grid;
    place-content: center;
    text-align: center;
    padding-inline: 10px;
    gap: 20px
}
main h1 {
    font-size: 9vw;
}
main p {
    font-size: 1rem;
}
main::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    left: 0;
    top: 0;
    opacity: .8;
    z-index: -1;
}
footer {
    background-color: var(--primary-dark);
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 40px 20px;
}
footer > div:not(:last-child) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-block: 30px;
}
footer > div > p {
    transition: color .1s;
    -webkit-transition: color .1s;
    -moz-transition: color .1s;
    -ms-transition: color .1s;
    -o-transition: color .1s;
    cursor: pointer;
}
:where(footer > div:not(:first-child)) :where(p, a):is(:hover, :focus) {
    color: var(--secondary-light);
}
footer .privacy img {
    width: 100px;
    height: 100px;
}
footer .contactInfo > .socialMedia {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
footer .contactInfo svg {
    width: 50px;
    height: 50px;
    fill: white;
    transition: transform, fill, .1s;
    -webkit-transition: transform, fill, .1s;
    -moz-transition: transform, fill, .1s;
    -ms-transition: transform, fill, .1s;
    -o-transition: transform, fill, .1s;
}
footer .contactInfo svg:is(:hover, :focus) {
    fill: var(--secondary-light);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}